body
{
	background: #EBF8FF;
	border: 1px solid #000088;
	border-radius: 5px;
	margin: 0 auto;
	max-width: 1300px;
}

footer
{
	font-weight: bold;
	text-align: center;
}

header nav
{
	
}

header nav ul
{
	text-align: center;

}

header nav ul li
{
	margin-right: 900px;
}


header .page-header
{
	margin-left: 15px;


}

figure img
{
	width: 600px;
	position: absolute;
	margin-left: 380px;
	margin-top: -130px;
}
#articulo
{	
	width: 30%;
}

#articulo2
{
	
	width: 65%;
}

#primeraseccion article
{
	
	display:inline-block;
	vertical-align: top;
	
}











